<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="llmConfig" class="org.example.Configuration.LLMConfig">
        <property name="serverType" value="self" /> <!-- self/openrouter -->
<!--        <property name="apikey" value="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" />-->
<!--        <property name="serverURL" value="http://210.28.134.91:8000/deepseekcoder" />-->
        <property name="model" value="deepseek/deepseek-v3-base:free" />
        <property name="temperature" value="0.6" />
        <property name="maxNewTokens" value="2048" />
        <property name="identifierLengthLimit" value="-1" />
    <!--    if `identifierLengthLimit` is not set or less 0, then this value will be the max length of all identifiers in the target style.-->
    </bean>

    <bean id="nodeSearcherFactory" class="org.example.utils.searcher.NodeSearcherFactory" />
    <bean id="parserFactory" class="org.example.parser.common.factory.MyParserFactory" />
    <bean id="languageConfig" class="org.example.Configuration.LanguageConfig">
        <property name="language" value="java" />
        <property name="nodeSearcherFactory" ref="nodeSearcherFactory" />
        <property name="parserFactory" ref="parserFactory" />
    </bean>

    <bean id="styleConfig" class="org.example.Configuration.StyleConfig">
        <!-- When a value's proportion >= `minDominantRatio`, it is considered dominant, and the style is assigned this value. -->
        <property name="minDominantRatio" value="0.7"/>
    </bean>

</beans>
